{% extends "default_layout.html" %}
{% block content %}
    <div class="card">
        <div class="row">
            <div class="col s12 m4 offset-m1">
                <h5>Categories</h5>
                <ul>
                    {% for category in categories %}
                        <li><a href="#!">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s12 m7">
                <h5>Items</h5>
                <ul>
                    {% for item in items %}
                        <li><a href="#!">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m5">
                <a href="#" class="btn">Add Items</a>
            </div>
        </div>
    </div>
{% endblock %}