<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('show_categories') }}" class="brand-logo">Open Catalog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if 'username' not in session %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>