{% extends "default_layout.html" %}
{% block content %}
    <div class="row card">
        <h5>Edit {{ item.title }} Details for {{ category.name }}</h5>
        <form method="post">
            <label>Title</label>
            <input type="text" name="title" maxlength="60" value="{{ item.title }}">
            <label>Description</label>
            <textarea name="description" maxlength="260">{{ item.description }}</textarea>
            <input type="submit" value="Update">
        </form>
        <a href="{{ url_for('view_item', category_id=category.id, item_id=item.id) }}">Back</a>
    </div>
{% endblock %}